@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Við gætum breytt þessu í einhverskonar about síðu</p>
<p>This project is a service built for students in
    <a href="http://www.ru.is/hr/">Reykjavík University</a>
    for further information VEÐUM VIÐ AÐ SKRIFA EITTHVAÐ HÉR
</p>
