@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<h3>About this system</h3>
<p>
    <b>Mooshak 2.0 Fonseca</b> is an improved version of the system Mooshak
    aimed for assignments managing for teachers and students. Mooshak is web-based application that has all
    functionalities accessible through interfaces deployed on all mayor web browsers. The purpose of this
    sytem is to manage programming assignments, i.e. it provides one’s program with various inputs and compares
    the program’s actual output to the desired output. The system then provides students and teacher with
    results of these test cases. The system also allows these assignments to have milestones (or problems)
    and milestones make up the whole assignments. Assignments are part of courses and courses are connected to the
    students and teacher that are in them.
</p>
<h3>The Developers</h3>
<p>
    This system is developed by <b>Andri Karel Júliusson</b>, <b>Axel Björnsson</b>, <b>Darri Valgarðsson</b>,
    <b>Edda Steinunn Rúnarsdóttir</b>, <b>Sigurður Marteinn Lárusson</b> and <b>Skúli Arnarsson</b>, students of
    <a href="http://www.ru.is/hr/">Reykjavík University</a> as a project for the course <b>Verklegt Námskeið II</b>
    tought by Daníel Brandur Sigurgeirsson.
</p>
<h3>Please note...</h3>
<p>
    Please note that this system is a project in progress and additional features might be added later
    to improve functionallity and/or appearance.
</p>
