@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<p>Hello, what can we help you with?</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    $(function () {
        $(".answer").hide();
        $('#management li a').each(function () {
            $(this).click(function () {
                $(this).siblings(".answer").slideToggle();
            });
        });
    });
</script>

 <ul id="management">
    <li>
        <a>Administrator Assistance</a>
       <div class="answer">
           <p>As an administrator of this system, you can create courses, assign users to classes and
           create users.</p>
           <p>
               <b>Courses</b> are edited in the <i>Courses</i> tab at left sidebar on main administrator page.
               You can edit courses’ names and delete existing courses by clicking either option in couses
               database table. To create a new course, simply type the course name and click add.
           </p>
           <p>
               <b>Assigning users to courses</b> is done by clicking the <i>Courses</i> tab. You simply click
               on <i>Add to course</i> in the desired Course’s table row, choose a student or a teacher to add
               to Course and click <i>Add</i>.
           <p>
               <b>Users</b> are created on admin's main page. Fill out required information, specify the user's
               role, submit and add to database. Users can be administrators, teachers or students
           </p>
        </div>
    </li>
    <li>
        <a>Teacher Assistance</a>
        <div class="answer">
           <p> As a teacher of this system, you can create assignments with problems in your classes, review assignments
               and submissions of users and grade submissions.<p>
        </div>
    </li>
     <li>
         <a>Student Assistance</a>
         <div class="answer">
             <p>As a student of this system, you can submit file as a solution to assignments that are open and in
                 your network either solo or with group members if allowed, review previous assignments and your previous
                submissions and your grade if your solution has been graded.<p>
         </div>
     </li>
     <li>
         <a>FAQ</a>
         <div class="answer">
             <p><b>Q: I lost my password. Is there any way to retrieve it?</b></p>
             <p>
                 A: Yes, there is. Simply click the <i>“Forgot password?”</i> option on the log-in screen.
                 Your password will then be reset and an email will be sent to your email address with a new
                 password. After that, you can choose to change this assigned password in <i>”Account settings”</i> in the right upper corner when you have logged in to the system.
             </p>
             <p><b>Q: Can everyone in this system see my email or display name?</b></p>
             <p>
                 A: Well, not exactly. An administrator can see display names and email addresses of every
                 user of the system. A teacher can see email addresses and display names of each student
                 assigned to his classes. A student can see another student’s display names and email addresses
                 if that student is the other student’s class mate. Only an administrator can see other
                 administrators. So to sum up, only administrators and users connected to you by your assigned
                 classes can see your email address or display name,
             </p>
             <p><b>Q: Can my Mooshak account be assigned to another email than my current one? </b></p>
             <p>
                 A: No. An emai address is the username to one’s account and it cannot be changed after an
                 administrator assigns an email account to a Mooshak account. However, if the email address
                 assigned to your Mooshak account is no longer in use or incorrect, an administrator of the
                 system can create another Mooshak account for your current email address and delete your former
                 Mooshak account. Therefore, should you feel the need to change the assigned email address for
                 your Mooshak account, talk to a teacher or an administrator of the system. But beware that
                 previous submissions to assignments can be lost.
             </p>
             <p><b>Q: How do I view my previous solution to an assignment?</b></p>
             <p>
                 A: Click a previous assignment and see your previous submissions. Then, simply click the arrow
                 that appears in the table with every submission and the file will be downloaded for you to view.
             </p>
             <p><b>Q: Does the teacher only see my best submission(s) or can he see every file I’ve submitted to an assignment?</b></p>
             <p>
                 A: The teacher can see all files submitted by a group to an assignment. But he can filter the
                 results to only see the best submission(s) from group and grades the assignment accordingly. 
             </p>
         </div>
     </li>
</ul>
