@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="page-header">@ViewBag.Title</h2>


<p>Hello, what can we help you with?</p>



 <ul id="management" onload="helpIndex()">
    <li class="pointer-arrow">
        <a>Administrator Assistance</a>
       <div class="answer">
           <p>As an administrator of this system, you can create courses, assign users to classes and
           create users.</p>
           <p>
               <b>Courses</b> are edited in the <i>Courses</i> tab, top left in navigation bar on main administrator page.
               You can edit courses’ names and delete existing courses by clicking either option in couses
               database table. To create a new course, simply type the course name and click add.
           </p>
           <p>
               <b>Assigning users to courses</b> is done by clicking the <i>Courses</i> tab. You simply click
               on <i>Add to course</i> in the desired Course’s table row, choose a student or a teacher to add
               to Course and click <i>Add</i>.
           <p>
               <b>Users</b> are created in the <i>Users</i> tab. Fill out required information, specify the user's
               role, submit and add to database. Users can be administrators, teachers or students
           </p>
        </div>
    </li>
     <li class="pointer-arrow">
         <a>Teacher Assistance</a>
         <div class="answer">
             <p> As a teacher of this system, you can create assignments with problems in your courses and review assignments
                  and submissions of users.<p>
             <p>
                 To <b>create assignments</b>, simply click the course you want to add your new assignment to and fill out required
                 information about the assignment. Then select your assignment and add milestones to it, and be sure to fill out the
                 milestone’s required information.
             </p>
             <p>
                 To <b>review assignments</b>, simply click an assignment. You can either simply view it or edit and delete it.
             </p>
             <p>
                 To <b>view submissions to an assignment</b>, simply click an assignment and click “view submissions”.
                 Choose the submission you wish to view and download it for you too see.
             </p>
         </div>
     </li>
     <li class="pointer-arrow">
         <a>Student Assistance</a>
         <div class="answer">
             <p>
                 As a student of this system, you can submit file as a solution to assignments that are open
                 and in your network, review previous assignments and your previous submissions.
             </p>
             <p>
                 To <b>submit file as a solution</b> to active assignments, simply click on assignments and
                 click <i>Submit my solution</i>. Your solution will be submitted for the teacher to review
                 later and will give you a grade accordingly. You can submit as often as you like for an optimal result.
             </p>
             <p>
                 To <b>review previous assignments</b> simply click on an unactive assignment. You can always
                 review it again. And if you click on <i>View previous submission</i> you can <b>view your
                  previous submissions</b> to an assignment, either active or unactive.
             </p>
         </div>
     </li>
     <li class="pointer-arrow">
         <a>FAQ</a>
         <div class="answer">
             <p><b>Q: I lost my password. Is there any way to retrieve it?</b></p>
             <p>
                 A: At the moment, no that is not a feature of this system. And this we are terribly sorry for.
                 For the time being, developers have not had time to implement that feature, but this is a work
                 in progress and will be added shortly! If your password has been lost, please contact
                 SystemService@MooshakFonscea.com and developers will provide you with a solution to your lost
                 password.
             </p>
             <p><b>Q: Can my Mooshak account be assigned to another email than my current one? </b></p>
             <p>
                 A: No. An emai address is the username to one’s account and it cannot be changed after an
                 administrator assigns an email account to a Mooshak account. However, if the email address
                 assigned to your Mooshak account is no longer in use or incorrect, an administrator of the
                 system can create another Mooshak account for your current email address and delete your former
                 Mooshak account. Therefore, should you feel the need to change the assigned email address for
                 your Mooshak account, talk to a teacher or an administrator of the system. But beware that
                 previous submissions to assignments can be lost.
             </p>
             <p><b>Q: How do I view my previous solution to an assignment?</b></p>
             <p>
                 A: Click a previous assignment and see your previous submissions. Then, simply click the arrow
                 that appears in the table with every submission and the file will be downloaded for you to view.
             </p>
             <p><b>Q: Does the teacher only see my best submission(s) or can he see every file I’ve submitted to an assignment?</b></p>
             <p>
                 A: The teacher can see all files submitted by a group to an assignment. But he can filter the
                 results to only see the best submission(s) from group and grades the assignment accordingly. 
             </p>
         </div>
     </li>
</ul>
<p> Did not find what you were looking for? No worries, send us a line at SystemSupport@MooshakFonseca.com and we'll try our best to help!</p>
