@{
    ViewBag.Title = "Þessi síða a ekki að birtast neinum";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Þessi síða a ekki að birtast neinum</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Þessi síða a ekki að birtast neinum</h2>
        <p>
            Þessi síða a ekki að birtast neinum
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
  
</div>