@{
    ViewBag.Title = "Þessi síða a ekki að birtast neinum";
}

<div class="jumbotron">
    <h1>YOU HAVE NOT BEEN ASSIGNED ANY ROLE</h1>
    <p class="lead">Þessi síða a ekki að birtast neinum</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Þessi síða a ekki að birtast neinum</h2>
        <p>
            THIS SHOULD THROW AN EXCEPTION
        </p>
       
    </div>
  
</div>