@using mooshak_2._0.Controllers
@using mooshak_2._0.Models
@using Microsoft.AspNet.Identity
@using mooshak_2._0.Models.Entities
@using Microsoft.AspNet.Identity.EntityFramework
@model List<mooshak_2._0.Models.ApplicationUser>
@{
    ViewBag.Title = "GetAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAllUsers</h2>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th style="text-align: center;">Username</th>
            <th style="text-align: center;">User Role</th>
            <th style="text-align: center;">OTHER INTFO</th>

        </tr>
    </thead>
    <tbody>
        
        @foreach (var user in Model)
        {
            <tr>
                <td style="text-align: center;">@user.UserName</td>
                <td style="text-align: center;">@user.Roles</td>
            </tr>
         }
       
    </tbody>


</table>

