@{
    ViewBag.Title = "Mooshak - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="page-header text-center">Mooshak Fonseca</h1>
    <h2 class="page-header text-center">Home</h2>
</div>

<h3>
    Welcome to Mooshak Fonseca
</h3>
<h3>
    To get started, click <i>Courses</i> or <i>Users</i> tab located top left at
    navigation bar to perform an action.
</h3>