@{
    ViewBag.Title = "Mooshak - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="page-header text-center">Welcome to Mooshak</h1>
    <h2 class="page-header text-center">Home</h2>
</div>


<img src="http://www.gbc.gi/uploads/news/BlnaY_mossack_fonseca.jpg" style="margin:auto" alt="Mossack Fonseca logo" class="img-responsive"/>