@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mooshak</h2>
<br />
<ul class="nav navbar-nav">
    <div class="list-group">
        @Html.ActionLink("Create New User", "Register", "Account", null, new { @class = "list-group-item" })
        </div>
    </ul>



