@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HeaderBarLayout.cshtml";
}

<h2>Mooshak</h2>
<br />
<ul class="nav navbar-nav">
    <div class="list-group">
        <img src="http://www.skak.blog.is/img/tncache/700x700/2d/skak/img/hrafn_loftsson_355186.jpg" alt="Son of air">
        @Html.ActionLink("Create New User", "Register", "Account", null, new { @class = "list-group-item" })
        </div>
    </ul>



