@{
    ViewBag.Title = "Mooshak - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Welcome to Mooshak</h2>
<h4 class="text-center">Home</h4>

<p class="text-center">YOU ARE ADMIN YOU ARE ALL POWERFUL</p>
<p class="text-center">USE IT WEASLEY</p>

<img src="http://www.gbc.gi/uploads/news/BlnaY_mossack_fonseca.jpg" alt="Mossack Fonseca logo" class="img-responsive"/>