@{
    ViewBag.Title = "Mooshak - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header text-center">Welcome to Mooshak</h2>
<h4 class="text-center">Home</h4>

<img src="http://www.gbc.gi/uploads/news/BlnaY_mossack_fonseca.jpg" style="margin:auto" alt="Mossack Fonseca logo" class="img-responsive"/>