
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserList</h2>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">Username</th>
            <th style="text-align: center;">OTHER INTFO</th>
            <th style="text-align: center;">OTHER INTFO</th>

        </tr>
    </thead>
    <tbody>
        
      <!--  foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;">TODO:Display data here</td>
                <td style="text-align: center;">TODO:Display data here</td>
                <td style="text-align: center;">TODO:Display data here</td>
                <td style="text-align: center;">TODO:Display data here</td>

            </tr>
        }
        -->
    </tbody>


</table>

