@model IEnumerable<mooshak_2._0.Models.Entities.Course>

    @{
        ViewBag.Title = "UserCourse";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>UserCourse</h2>
<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
            </tr>
        }
    </tbody>
</table>