@model IEnumerable<mooshak_2._0.Models.ApplicationUser>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="page-header text-center">Mooshak Fonseca</h1>
    <h2 class="page-header text-center">All registered users</h2>
</div>

<div class="form-actions">
    @Html.ActionLink("Create New User", "Register", "Account", null, new {@class = "btn btn-info"})
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th class="text-center">User Name</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                <td class="text-center"><a class="pointer-arrow" onclick="deleteUser('@Html.DisplayFor(modelItem => item.Id)')">Delete</a></td>
            </tr>
        }
    </tbody>
</table>






