@model List<CourseViewModel>
@using System.Web.UI.WebControls
@using mooshak_2._0.Models.ViewModels
@using Microsoft.AspNet.Identity

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Mooshak Fonseca</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="~/Views/Home/Help.cshtml">Help</a>
                </li>
                <li>
                    <a class="page-scroll" href="~/Views/Home/About.cshtml">About</a>
                </li>
                @{
                    if (Model != null & (User.IsInRole("teacher") || User.IsInRole("student"))) { 
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("teacher"))
                                {
                                    foreach (var course in Model)
                                    {
                                        <li>
                                            @Html.ActionLink(course.Title, "Course", "Teacher", new { id = course.Id }, new { })
                                        </li>
                                    }
                                }
                                else if (User.IsInRole("student"))
                                {
                                    foreach (var course in Model)
                                    {
                                        <li>
                                            @Html.ActionLink(course.Title, "Course", "Student", new { id = course.Id })
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.GetUserName() <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!--TODO: tengja action link við account settings page-->
                                <li><a href="#">Account Settings</a></li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "list item in nav bar" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                }
                            </ul>
                        </li>
                    }
                }

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>