@using System.Collections
@using System.Data.Entity
@using System.Web.DynamicData
@using mooshak_2._0.Models.Entities
@using mooshak_2._0.Models.ViewModels
@using mooshak_2._0.Services
@ViewBag.courseViewModel
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav navbar-nav">
                <div class="list-group">
                    @foreach (var item in ViewBag.courseViewModel)
                    {
                        <li>vla</li>
                        @Html.ActionLink("SomeCourse", "About", "Home", null, new {@class = "list-group-item"})
                    }
                </div>
            </ul>

        </div>
        <div class="span10">

        </div>
    </div>
</div>