
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>@Html.ActionLink("Users", "Userlist", "Admin", null, new { @class = "list-group-item" })</li>
        <li>@Html.ActionLink("Courses", "CourseIndex", "Course", null, new { @class = "list-group-item" })</li>
    </ul>
</div>