
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav navbar-nav">
                <div class="list-group">
                    <button type="button" class="list-group-item">Some Course</button>
                    <button type="button" class="list-group-item">Some Course</button>
                    <button type="button" class="list-group-item">Some Course</button>
                    <button type="button" class="list-group-item">Some Course</button>
                </div>
            </ul>

        </div>
        <div class="span10">

        </div>
    </div>
</div>