@model List<CourseViewModel>
@using System.Web.UI.WebControls
@using mooshak_2._0.Models.ViewModels
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
    @{
        if (Model == null)
        {
            Response.Redirect("~/Error");
        }
        else {
            if (User.IsInRole("teacher"))
            {
                foreach (var course in Model)
                {
                    <li>
                        @Html.ActionLink(course.Title, "Courses", "Teacher", new { id = course.Id }, new { hidefocus = "hidefocus" })
                    </li>
                }
            }
            else if (User.IsInRole("student"))
            {
                foreach (var course in Model)
                {
                    <li>
                        @Html.ActionLink(course.Title, "Course", "Student", new { id = course.Id }, new { hidefocus = "hidefocus" })
                    </li>
                }
            }
        }
    }

    </ul>
</div>

