@using System.Collections
@using System.Data.Entity
@using System.Web.DynamicData
@using mooshak_2._0.Models.Entities
@using mooshak_2._0.Models.ViewModels
@using mooshak_2._0.Services
@ViewBag.courseViewModel

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        @foreach (var item in ViewBag.courseViewModel)
        {
            <li>vla</li>
            @Html.ActionLink("SomeCourse", "About", "Home", null, new {@class = "list-group-item"})
        }
    </ul>
</div>