@model mooshak_2._0.Models.ViewModels.AssignmentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Assignment";
}

<h2>Assignment</h2>
<p>@Html.ActionLink("PRESSME", "CompilerIndex", "CodeCompiler")</p>
@{
    if(!Model.Milestones.Any())
    {
        <div>No milestones in this Assignment as of yet.</div>
    }    
    foreach (var milestone in Model.milestones)

    {
        <div class="col-xs-6 col-sm-4">
            <h2>@milestone.Title</h2>
            <p>@milestone.Weight</p>
            <p>@Html.ActionLink("Assignment 1", "CompilerIndex", "CodeCompiler", new { id = milestone.Id }, new { @class = "btn btn-primary btn-large" })</p>
            
        </div>
    }
}