@model mooshak_2._0.Models.ViewModels.AssignmentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Assignment";
}

<h2>Assignment</h2>

@{
    foreach (var milestone in Model.Milestones)
    {
        <div class="col-xs-6 col-sm-4">
            <h2>@milestone.Title</h2>
            <p>@milestone.weight</p>
            <p>@Html.ActionLink("Assignment 1", "Course", "Student", new { id = milestone.id }, new { @class = "btn btn-primary btn-large" })</p>
        </div>
    }
}