@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Name of the course you are in</h2>

@Html.ActionLink("Assignment 1", "Assignment", "Student", null, new { @class = "button" })
@Html.ActionLink("Assignment 2", "Assignment", "Student", null, new { @class = "button" })