@model mooshak_2._0.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@{
    foreach (var assignment in Model.Assignments)
    {
        <div class="col-xs-6 col-sm-4">
            <h2>@assignment.Title</h2>
            <p>Here is the description</p>
        </div>
    }
}

@Html.ActionLink("Assignment 1", "Assignment", "Student", null, new { @class = "button" })
@Html.ActionLink("Assignment 2", "Assignment", "Student", null, new { @class = "button" })