@using System.Web.UI.WebControls

@{
    Layout = "~/Views/Shared/_HeaderBarLayout.cshtml";
    ViewBag.Title = "Mooshak Fonseca";
}

    <h1>Mooshak Fonseca</h1>
  
@Html.ActionLink("Courses", "Courses", "Student", null, new { @class = "button" })