@using System.Web.UI.WebControls

@{
    Layout = null;
    ViewBag.Title = "Mooshak Fonseca";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <header>
    <h1>Mooshak Fonseca</h1>
    <img src="http://www.gbc.gi/uploads/news/BlnaY_mossack_fonseca.jpg" alt="Mooshak Logo" />
    <select id="userOptions">
        <option value="" disabled selected>Username</option>
        <option value="">Account Settings</option>
        <option value="">Help</option>
        <option value="">Log Out</option>
    </select>
    </header>
    <main>
        <p>CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT </p>
    </main>
    <footer>
        <p>CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT </p>
    </footer>
</body>
</html>



<

