@using System.Web.UI.WebControls

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mooshak Fonseca";
}

    <h1>Mooshak Fonseca</h1>
  
    <p>CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT </p>

    <p>CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT </p>

@Html.ActionLink("Courses", "Courses", "Student", null, new { @class = "button" })