@using System.Web.UI.WebControls

@{
    Layout = "~/Views/Shared/_HeaderBarLayout.cshtml";
    ViewBag.Title = "Mooshak Fonseca";
}

    <h1>Mooshak Fonseca</h1>
  
@Html.ActionLink("Course 1", "Course", "Student", null, new { @class = "button" })
@Html.ActionLink("Course 2", "Course", "Student", null, new { @class = "button" })
