@using System.Web.UI.WebControls
@model List<mooshak_2._0.Models.ViewModels.CourseViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mooshak - Reykjavík University";
}

<<<<<<< HEAD
<h1 class="page-header">Mooshak Fonseca</h1>
<p>@Html.ActionLink("Submit a solution", "Submission", "Student", new { @class = "btn btn-primary btn-large" })</p>
=======
<h1 class="page-header text-center">Mooshak Fonseca</h1>

>>>>>>> cc9a3653f8b047671a2a460512bbca5a73185ead
@{
    if (!Model.Any())
    {
        <div class="alert">We're sorry but you aren't in any courses</div>
    }
    else
    {
        foreach (var course in Model)
        {
            <div class="col-xs-6 col-sm-4">
                <div class="breadcrumb">
                    <h2 class="text-center">@course.Title</h2>
                    @*<p>@course.Description</p>*@
                    <br />
                    <div class="form-horizontal">
                        <p class="text-center">@Html.ActionLink("Details", "Course", "Student", new { id = course.Id }, new { @class = "btn btn-primary btn-large" })</p>
                    </div>
                </div>
            </div>
        }
    }
}

