@model mooshak_2._0.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Submit Solution</h2>


<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
 
    <div id="hide">
        <input type="number" name="MileStoneId" value="@Model.Id">
    </div>
 
    <input type="submit" class="btn-info" />
    
</form>


<br />

<style type="text/css">
    #hide
    {
        
        visibility:hidden;
    }
</style>



