@model mooshak_2._0.Models.ViewModels.MilestoneViewModel
@{
    ViewBag.Title = "Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1 class="page-header text-center">@Model.Title</h1>
    <h2 class="page-header text-center">Submit solution</h2>
</div>


<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file"/>

    <div id="hide">
        <input type="hidden" name="MileStoneId" value="@Model.Id">
    </div>
    <br/>
    <input type="submit" class="btn btn-success"/>
</form>

<br/>
<div>
    <p>@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })</p>
</div>





