@model mooshak_2._0.Models.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "All Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">All Milestones</h2>

<div class="form-actions">
    @Html.ActionLink("Create New Milestone", "CreateMilestone", "Teacher", new {id = Model.id}, new {@class = "btn btn-info"})
</div>

@foreach (var milestone in Model.milestones)
{
    <div class="col-xs-6 col-sm-4">
        <h2>@milestone.Title</h2>
        <p>Description</p>
        <br />
        <p>@Html.ActionLink("Details", "Submission", "Teacher", new { id = milestone.Id }, new { @class = "btn btn-primary btn" })</p>
    </div>
}