@model mooshak_2._0.Models.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "All Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">All Assignments</h2>


<div class="form-actions">
    @Html.ActionLink("Create New Submission", "CreateSubmission", "Teacher", new { id = Model.courseId}, new { @class = "btn btn-info" })
</div>

@foreach (var milestone in Model.milestones)
{
    <div class="col-xs-6 col-sm-4">
        <h2>@milestone.Title</h2>
        <p>Here is the description</p>
        <p>@Html.ActionLink("Details", "Submissions", "Teacher", new { id = milestone.Id }, new { @class = "btn btn-primary btn-large" })</p>
    </div>
}