@model List<mooshak_2._0.Models.ViewModels.AssignmentViewModel>
@{
    ViewBag.Title = "All Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="text-center">All Assignments</h2>

<div class="form-actions">
    @Html.ActionLink("Create Assignment", "CreateAssignment", "Teacher", null, new { @class = "btn btn-info" })
</div>

@foreach (var assignment in Model)
{
    <div class="col-xs-6 col-sm-4">
        <h2>@assignment.title</h2>
        <p>Here is the description</p>
        <p>@Html.ActionLink("Details", "Course", "Teacher", new { id = assignment.id }, new { @class = "btn btn-primary btn-large" })</p>
    </div>
}

