@using mooshak_2._0.Models.ViewModels
@model AssignmentViewModel

@{
    ViewBag.Title = "Create An Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var courseId = Model.CourseId;
}

<h2>Create Assignment for @Model.Title</h2>

<form action="createAssignment" id="createAssignment" method="POST">
    @Html.AntiForgeryToken()
    <input type="hidden" name="courseId" id="courseId" value="@courseId" form="createAssignment"/>

    <label for="courseTitle">Name of assignment: </label>
    <fieldset class="form-group">
        <input class="form-control" type="text" id="courseTitle" name="courseTitle"/>
    </fieldset>

    <label for="endDate">Ends at: </label>
    <fieldset class="form-group">
        <input class="form-control" type="date" id="endDate" name="endDate"/>
    </fieldset>

    <fieldset class="form-group">
        <label for="description">Description: </label>
        <textarea class="form-control vresize " name="description" id="description" form="createAssignment"></textarea>
    </fieldset>

    <button type="submit" class="btn btn-primary" id="Create" value="Create">Create</button>
    <div>
        @Html.ActionLink("Cancel", "Course", new { id = courseId }, new {@class = "btn btn-danger btn-inline-right"})
    </div>
</form>