@using mooshak_2._0.Models.ViewModels
@model AssignmentViewModel

@{
    ViewBag.Title = "Create An Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var courseId = Model.courseId;
}

<h2>Create Assignment</h2>


<form action="createAssignment" id="createAssignment" method="POST">
    <input type="hidden" name="courseId" id="courseId" value="@courseId" form="createAssignment" />
    @Html.AntiForgeryToken()
    <fieldset class="form-group">
        <label for="courseTitle">Name of assignment: </label>
        <input class="form-control" type="text" id="courseTitle" name="courseTitle" />
    </fieldset>
    <fieldset class="form-group">
        <label for="endDate">Ends at: </label>
        <input class="form-control" type="date" id="endDate" name="endDate" />
    </fieldset>
    <fieldset class="form-group">
        <label for="description">Description: </label>
        <textarea class="form-control" name="description" id="description" form="createAssignment"></textarea>
    </fieldset>

    <fieldset class="form-group">
        <label for="input">Input: </label>
        <textarea class="form-control" name="input" id="input" form="createAssignment"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="output">Output: </label>
        <textarea class="form-control" name="output" id="output" form="createAssignment"></textarea>
    </fieldset>

    <button type="submit" class="btn btn-primary" id="Create" value="Create">Create</button>
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary btn-large" })
</form>