@using mooshak_2._0.Models.ViewModels
@model AssignmentViewModel

@{
    ViewBag.Title = "Create An Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var courseId = Model.courseId;
}

<h2>CreateAssignment</h2>

<form class="form-horizontal" action="createAssignment" id="createAssignment" method="POST">
    <div class="form-horizontal">
        <h4>Assignment</h4>
        <hr />
        <div class="form-group">
            <label for="courseTitle">Name of assignment: </label>
            <div>

                <input type="text" id="courseTitle" name="courseTitle" />
            </div>
        </div>
        <div class="form-group">
            <label for="endDate">Ends at: </label>
            <div>
                <input type="date" id="endDate" name="endDate"/>
            </div>
        </div>

        <input type="hidden" name="courseId" id="courseId" value="@courseId" form="createAssignment"/>

        <div class="form-group">
            <label for="description">Description: </label>
            <div>
                <textarea rows="10" name="description" id="description" form="createAssignment"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="input">Input: </label>
            <div>
                <textarea rows="10" name="input" id="input" form="createAssignment"></textarea>
            </div>
        </div>

            <div class="form-group">
                <label for="output">Output: </label>
                <div>
                    <textarea rows="10" name="output" id="output" form="createAssignment"></textarea>
                </div>

            </div>

        <div class="form-group">
            <button type="submit" id="Create" value="Create">Create</button>
        </div>
    </div>
</form>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
