@model List<mooshak_2._0.Models.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HeaderBarLayout.cshtml";
    @Html.Partial("_SideBarTeacherStudent", Model)
}

<h2>Mooshak</h2>


@Html.ActionLink("Course 1", "Course", "Teacher", null, new { @class = "button" })
@Html.ActionLink("Course 2", "Course", "Teacher", null, new { @class = "button" })
