@model IEnumerable<mooshak_2._0.Models.Entities.Submissions>
@{
    ViewBag.Title = "Submissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="page-header text-center">Mooshak Fonseca</h1>
    <h2 class="page-header text-center">Student submissions</h2>
</div>

<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th class="text-center">User</th>
        <th class="text-center">Solution Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@Html.DisplayFor(modelItem => item.UserName)</td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.FileName)</td>
        </tr>
    }
    </tbody>
</table>
<div>
    <p>@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })</p>
</div>
