@model IEnumerable<mooshak_2._0.Models.Entities.Courses>
@{
    ViewBag.Title = "Course Index";
}

<br />
<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav navbar-nav">
                <div class="list-group">
                    @using (Html.BeginForm())
                    {
                        <span>Enter a new item: </span>
                        <input type="text" name="new_item" /><br />
                        <input type="submit" value="Add a course" />
                    }


                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th style="text-align: center;">ID</th>
                                <th style="text-align: center;">Name</th>
                                
                                <th style="text-align: center;">Edit</a></th>
                                <th style="text-align: center;">Delete</a></th>
                               

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.id)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.name)</td>
                                    <td style="text-align: center;"><a href="@Url.Action("About","Home")/@Html.DisplayFor(modelItem => item.id)">Edit</a></td>
                                    <td style="text-align: center;"><a href="@Url.Action("Help","Home")/@Html.DisplayFor(modelItem => item.id)">Delete</a></td>

                                </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </ul>

            </div>
        </div>
    </div>

