@model mooshak_2._0.Models.Entities.Course

@{
    ViewBag.Title = "EditCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name's Details</h2>
<div class="form-control-static">

    @using (Html.BeginForm())
    {
        <span>Enter a new name for the course: </span>
        <input type="text" name="new_item" /><br />
        <input type="submit" value="Change name" />
    }
    <br />
    <h2>Name: @Model.name</h2>


    <footer><a href="@Url.Action("Index","Admin")">Click here to go back to the matrix</a></footer>
    </div>