.btn-inline {
    display: inline;
}

.btn-inline-right {
    display: inline;
    float: right;
}

.span-item-bold {
    font-weight: bold;
}

.pointer-arrow:hover{
    cursor:pointer;
}