@model mooshak_2._0.Models.ViewModels.MilestoneViewModel
@{
    ViewBag.Title = "CompilerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="page-header">Your solution</h2>
<div class="row">
    @using (Html.BeginForm())
    {
        <input type="hidden" name="milestoneId" value="@Model.Id">

        <input type="Submit" class="btn btn-success" value="Compile Test Code" />
    }
    <br />
    @{
        var solutionOutput = Model.Output;
        var checkString = "";
    }
    @if (ViewBag.Output != null)
    {
        <table>
            <thead>
                <tr>
                    <th>Your Output</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var line in ViewBag.Output)
                {
                    <tr>
                        <td>@line</td>
                        @checkString = line;
                    </tr>
                }
            </tbody>
        </table>
    }
    <table>
        <thead>
            <tr>
                <th>Expected Output</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @solutionOutput
                </td>
            </tr>

        </tbody>
    </table>
</div>
